@font-face {
  font-family: "Butler Stencil";
  src: url(./fonts/Butler_Stencil/Butler_Black_Stencil.otf),
  url(./fonts/Butler_Stencil/Butler_Bold_Stencil.otf),
  url(./fonts/Butler_Stencil/Butler_ExtraBold_Stencil.otf),
  url(./fonts/Butler_Stencil/Butler_Light_Stencil.otf),
  url(./fonts/Butler_Stencil/Butler_Medium_Stencil.otf),
  url(./fonts/Butler_Stencil/Butler_Regular_Stencil.otf),
  url(./fonts/Butler_Stencil/Butler_Ultra_Light_Stencil.otf);
}

@font-face {
  font-family: "Candara";
  src: url(./fonts/candara-font-family/aquarion.otf),
  url(./fonts/candara-font-family/Candara.ttf),
  url(./fonts/candara-font-family/Candara_Bold.ttf),
  url(./fonts/candara-font-family/Candara_Bold_Italic.ttf),
  url(./fonts/candara-font-family/Candara_Italic.ttf);
}

* {
  color: white;
  text-align: center;
}

body {
  font-family: "Butler Stencil";
  background-image: url(./images/background-web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* ------------- INTRODUCTION SECTION ------------- */

nav {
  display: none;
}

h1 {
  font-size: 4.8rem;
}

p {
  font-size: 2.6rem;
  line-height: 3.6rem;
}

hr {
  width: 25%;
  color: white;
}

#contact-link-button {
  border: none;
  background-color: white;
  padding: 20px 32px;
  font-size: 1.7rem;
  cursor: pointer;
  color: #534741;
  font-family: "Candara";
  font-weight: 700;
  border-radius: 30px;
}

#contact-link-button:hover {
  box-shadow: rgba(0, 0, 0, 0.29) 10px 10px;
}


/* ------------- MY WORK/CARDS SECTION ------------- */

#my-work {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.card {
  margin-right: 20px;
  width: 300px;
  height: 254px;
  background: lightgrey;
  overflow: hidden;
  display: flex;
}

.circles,
.browser {
  height: 30px;
  display: flex;
  align-items: center;
}

.circles {
  width: 20%;
  gap: 8px;
  padding: 10px;
}

.c {
  width: 09px;
  height: 9px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px rgba(235, 235, 235, 0.356);
}

.c:first-child {
  background-color: red;
}

.c:nth-child(2) {
  background-color: rgb(204, 167, 4);
}

.c:last-child {
  background-color: green;
}

.browser {
  width: 80%;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.chevrons {
  display: flex;
}

.search-bar {
  background-color: whitesmoke;
  position: relative;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color:gray;
  box-shadow: inset 2px 2px 2px #05050525;
  font-weight: 700;
}

.search-bar svg {
  position: absolute;
  left: 10px;
}

#recipe-page {
  background: url(/images/recipe-page-preview.jpg);
  background-size: cover;
}

#read-up {
  background: url(/images/read-up-page-preview.jpg);
  background-size: cover;
}

#hardcover {
  background: url(/images/hard-cover-page-preview.jpg);
  background-size: auto;
}

#future-client-site {
  background: url(/images/client-site-loading-page.jpg);
  background-size: auto;
}

/* ------------- SKILLS SECTION ------------- */

#skills {
  letter-spacing: 1.5rem;
  font-size: 2.5rem;
  position: relative;
  bottom: 0;
}
